apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mongodb-monitor
  namespace: md5-cracker
  labels:
    app: mongodb
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app: mongodb
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
  namespaceSelector:
    matchNames:
    - md5-cracker