apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: md5-cracker
  labels:
    app: rabbitmq
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "15692"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: management
      port: 15672
      targetPort: 15672
    - name: metrics
      port: 15692
      targetPort: 15692
  selector:
    app: rabbitmq
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-headless
  namespace: md5-cracker
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "15692"
    prometheus.io/path: "/metrics"
spec:
  clusterIP: None
  ports:
    - name: epmd
      port: 4369
      targetPort: 4369
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: dist
      port: 25672
      targetPort: 25672
    - name: metrics
      port: 15692
      targetPort: 15692
  selector:
    app: rabbitmq